{% extends 'base.html.twig' %}

{% block title %}Akwarium - Transport{% endblock %}

{% block body %}
    <!-- Hero Section -->
    <header class="hero-section content-center mb-12" id="hero" style="background-image: url('{{ asset("images/header-3.jpg") }}') !important;">
        <div class="container">
            <div class="flex flex-wrap items-center text-center lg:text-left">
                <div class="w-full lg:w-1/2 hero-content p-2 lg:p-0">
                    <h1 class="mb-6">Bezpieczny transport – na każdą potrzebę</h1>
                    <p class="mb-6">
                        Transport to rdzeń naszej działalności. Dysponujemy nowoczesną flotą pojazdów, które są gotowe podjąć każde zlecenie – od małych przesyłek po duże, wymagające transporty ciężarowe. Nasze doświadczenie w przewozach krajowych i międzynarodowych pozwala nam dostarczać towary w każdy zakątek Europy, zawsze terminowo i bezpiecznie.
                    </p>
                    <div class="flex items-center mb-6 flex-col lg:flex-row text-center lg:text-left">
                        <a href="{{ path('home') }}#contact" class="btn btn-secondary mb-4 lg:mb-0">Skontaktuj się z nami</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section class="py-12">
        <div class="container">
            <div class="flex flex-wrap items-center mb-12">
                <div class="w-full lg:w-5/12 mb-6 lg:mb-0 px-12 lg:px-0 order-2 lg:order-first">
                    <img src="{{ asset('images/feature-4.png') }}" alt="" class="max-w-full h-auto">
                </div>
                <div class="w-full lg:w-7/12 lg:px-12 order-first lg:order-last">
                    <h2 class="font-bold mb-12">Usługi transportowe</h2>
                    <div>
                        <div class="flex mb-12">
                            <div class="mr-6 shrink-0" style="min-width: 6px; background-color: #dc3545;"></div>
                            <div>
                                <p class="mb-0 font-normal">Transport ciężarowy – Idealny dla ładunków o dużych gabarytach i masie. Nasza flota ciężarówek spełnia najwyższe standardy bezpieczeństwa.</p>
                            </div>
                        </div>
                        <div class="flex mb-12">
                            <div class="mr-6 shrink-0" style="min-width: 6px; background-color: #dc3545;"></div>
                            <div>
                                <p class="mb-0 font-normal">Transport ekspresowy – Szybkie i bezpośrednie przewozy na krótkich oraz długich trasach, dostępne 24/7.</p>
                            </div>
                        </div>
                        <div class="flex mb-12 lg:mb-0">
                            <div class="mr-6 shrink-0" style="min-width: 6px; background-color: #dc3545;"></div>
                            <div>
                                <p class="mb-0 font-normal">Transport materiałów ADR – Specjalistyczny transport materiałów niebezpiecznych zgodnie z międzynarodowymi przepisami.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0 lg:pt-12 pb-12">
        <div class="container">
            <div class="w-full mx-auto">
                <div class="bg-gray-50 border-0 shadow-sm rounded-3xl py-6 px-6">
                    <div class="text-center p-6">
                        <h4 class="mb-6 md:px-12">
                            Niezależnie od tego, czy potrzebujesz przewozu towarów standardowych, czy specjalistycznych, nasz zespół zapewni profesjonalną obsługę na każdym kroku. Z nami masz gwarancję, że Twój ładunek dotrze na miejsce bezpiecznie, szybko i zgodnie z planem.
                        </h4>
                        <a href="{{ path('home') }}#contact" class="btn btn-primary">Skontaktuj się z nami</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
