{% extends 'base.html.twig' %}

{% block title %}Akwarium - Współpraca{% endblock %}

{% block body %}
    <!-- Hero Section -->
    <header class="hero-section content-center mb-12" id="hero" style="background-image: url('{{ asset("images/header-5.jpg") }}') !important;">
        <div class="container">
            <div class="flex flex-wrap items-center text-center lg:text-left">
                <div class="w-full lg:w-1/2 hero-content p-2 lg:p-0">
                    <h1 class="mb-6">Współpraca</h1>
                    <p class="mb-6">
                        Współpracując z nami, możesz liczyć na prowadzenie pojazdów zgodnie z Twoimi preferencjami, kompleksową organizację transportu oraz precyzyjną wycenę usług. Dbamy o dostosowanie trasy, monitorowanie realizacji i pełną przejrzystość kosztów, aby zapewnić efektywny i zgodny z harmonogramem przewóz.
                    </p>
                    <div class="flex items-center mb-6 flex-col lg:flex-row text-center lg:text-left">
                        <a href="{{ path('home') }}#contact" class="btn btn-secondary mb-4 lg:mb-0">Skontaktuj się z nami</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section class="py-12">
        <div class="container">
            <div class="flex flex-wrap items-center mb-12">
                <div class="w-full lg:w-1/2 lg:order-1 order-2 p-6 px-12">
                    <h2 class="mb-4 font-bold">
                        <span class="text-brand-red">Zatrudnimy</span> przewoźników<br>
                        do współpracy!
                    </h2>
                    <p class="text-gray-500 mb-6">
                        Współpraca z wiarygodnymi i profesjonalnymi
                        przewoźnikami jest jednym z kluczowych elementów
                        sukcesu i zadowolenia naszych klientów. Partnerów
                        dobieramy według ustalonych standardów, które
                        gwarantują wysoką jakość obsługi naszych klientów.
                    </p>
                    <a href="{{ path('home') }}#contact" class="btn btn-primary">Rozpocznij współpracę</a>
                </div>
                <div class="w-full lg:w-1/2 lg:order-2 order-1 mb-6 lg:mb-0">
                    <div class="rounded overflow-hidden">
                        <img src="{{ asset('images/truck.png') }}" alt="Truck cabin interior" class="max-w-full h-auto w-full">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
